.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/application/config/config.php
/application/config/database.php
/application/config/recaptcha.php
/data
/398A3197E558CAAB6806ADC953634C52.txt
/114th_congress_govetrack.sql
/media/list.csv
/media/list_dest.csv
/application/controllers/Auxilary.php
/application/controllers/Auxiliary.php
/application/models/stripe_model.php
/application/helpers/crude_stripe_rest_post_helper.php
